# Entity Resolution

##### Task: Choose the best match for each company from the suggested candidates.

## Data Exploration

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('presales_data_sample.csv')

In [10]:
pd.set_option('display.max_columns', None)
df.head(3)

,input_row_key,input_company_name,input_main_country_code,input_main_country,input_main_region,input_main_city,input_main_postcode,input_main_street,input_main_street_number,veridion_id,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,locations,num_locations,company_type,year_founded,revenue,revenue_type,employee_count,employee_count_type,generated_description,generated_business_tags,short_description,long_description,business_tags,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,ibc_insurance_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,ibc_insurance_codes,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,technologies,created_at,last_updated_at
0,0,24-SEVEN MEDIA NETWORK (PRIVATE) LIMITED,PK,Pakistan,Sindh,Karachi,NaN,NaN,NaN,26e22210-93e5-11eb-b997-8dd98d09cf25,New Millennium Network,New Millennium Network Private Limited | MNET ...,New Millennium Network,PK,Pakistan,Sindh,Karachi,74400,NaN,NaN,NaN,NaN,"PK, Pakistan, Sindh, Karachi, 74400, , , 24.85...",1.0,Private,2001.0,311793.0,modelled,23.0,extracted,"MNET, incorporated in 2001, is a Pakistani com...",Mobile Top-up Services | Website Development |...,"Incorporated in 2001, MNET is the first compan...","Incorporated in 2001, MNET is the first compan...",Transfer Funds | Shop & Products | Managed Ser...,517810.0,All Other Telecommunications,NaN,NaN,Cable & Internet Providers,Telecommunication Services,IT&C Services,Media & Entertainment,SV-ME,Media,SV.1,Services,SV,7375 | 4899,Information Retrieval Services (Internet servi...,NaN,6190,Other telecommunications activities,61.9,Other telecommunications activities,NaN,9.233351e+11,+923335055787,NaN,NaN,NaN,https://www.mnet.com.pk/,mnet.com.pk,com.pk,en,NaN,NaN,NaN,http://www.linkedin.com/company/mnet-services-...,NaN,NaN,NaN,NaN,web servers: apache http server - 2 | javascri...,2020-02-25T14:47:51.000Z,2024-11-29T04:18:00.109Z
1,0,24-SEVEN MEDIA NETWORK (PRIVATE) LIMITED,PK,Pakistan,Sindh,Karachi,NaN,NaN,NaN,01004641-1dd8-11ef-9268-316fc8e174dd,Private Helipad Ali Villa,NaN,Private Helipad Ali Villa,PK,Pakistan,Sindh,Karachi,74400,NaN,NaN,NaN,NaN,"PK, Pakistan, Sindh, Karachi, 74400, , , 25.03...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,The Private Helipad Ali Villa is a heliport lo...,Air Transportation Services | Heliport Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-29T16:24:11.019Z,2025-04-20T15:03:24.026Z
2,0,24-SEVEN MEDIA NETWORK (PRIVATE) LIMITED,PK,Pakistan,Sindh,Karachi,NaN,NaN,NaN,8266efc1-13e7-11ec-aa14-7bf90e1e10f1,24seven Research Network,NaN,24seven Research Network,IN,India,Haryana,Faridabad,121001,Gurunanak Gali No. 3,3071,28.399705,77.286203,"IN, India, Haryana, Faridabad, 121001, Gurunan...",1.0,Private,NaN,518659.0,modelled,75.0,modelled,24seven Research Network is a market research ...,Market Research Services | Data Collection Ser...,We are the fastest growing market research com...,"With a team of highly skilled, qualified and m...",NaN,541910.0,Marketing Research and Public Opinion Polling,NaN,NaN,Market Research & Opinion Polling,Marketing & Advertising Agencies,Advertising & Marketing,Advertising & Marketing,SV-AD,Media,SV.1,Services,SV,8732,"Commercial Economic, Sociological, and Educati...",Strategic Consultants | Information Technology...,7320,Market research and public opinion polling,73.2,Market research and public opinion polling,641406 | 641411 | 641405 | 641403 | 641401,9.199711e+11,+919971139111,info@24sevenresearchnetwork.com,info@24sevenresearchnetwork.com,NaN,https://24sevenresearchnetwork.com/,24sevenresearchnetwork.com,com,en,https://www.facebook.com/24seven-Research-Netw...,https://twitter.com/Network24seven%20,NaN,https://www.linkedin.com/company/51633612%20%20,NaN,NaN,NaN,NaN,NaN,2021-09-12T05:28:48.000Z,2025-03-18T23:08:37.059Z

In [4]:
df.columns

Index(['input_row_key', 'input_company_name', 'input_main_country_code',
       'input_main_country', 'input_main_region', 'input_main_city',
       'input_main_postcode', 'input_main_street', 'input_main_street_number',
       'veridion_id', 'company_name', 'company_legal_names',
       'company_commercial_names', 'main_country_code', 'main_country',
       'main_region', 'main_city', 'main_postcode', 'main_street',
       'main_street_number', 'main_latitude', 'main_longitude', 'locations',
       'num_locations', 'company_type', 'year_founded', 'revenue',
       'revenue_type', 'employee_count', 'employee_count_type',
       'generated_description', 'generated_business_tags', 'short_description',
       'long_description', 'business_tags', 'naics_2022_primary_code',
       'naics_2022_primary_label', 'naics_2022_secondary_codes',
       'naics_2022_secondary_labels', 'main_business_category',
       'main_industry', 'main_sector', 'sics_codified_industry',
       'sics_codified_industry_code', 'sics_codified_subsector',
       'sics_codified_subsector_code', 'sics_codified_sector',
       'sics_codified_sector_code', 'sic_codes', 'sic_labels',
       'ibc_insurance_labels', 'isic_v4_codes', 'isic_v4_labels',
       'nace_rev2_codes', 'nace_rev2_labels', 'ibc_insurance_codes',
       'primary_phone', 'phone_numbers', 'primary_email', 'emails',
       'other_emails', 'website_url', 'website_domain', 'website_tld',
       'website_language_code', 'facebook_url', 'twitter_url', 'instagram_url',
       'linkedin_url', 'ios_app_url', 'android_app_url', 'youtube_url',
       'tiktok_url', 'technologies', 'created_at', 'last_updated_at'],
      dtype='object')

#### Information on the dataset
The dataset contains 592 companies with 5 possible matches. The total number of records is 2951.

The input attributes are: 'input_row_key', 'input_company_name', 'input_main_country_code',
       'input_main_country', 'input_main_region', 'input_main_city',
       'input_main_postcode', 'input_main_street', 'input_main_street_number'.

In [7]:
len(df)

2951

In [8]:
len(df['input_row_key'].unique())

592

In [12]:
df.dtypes

input_row_key                int64
input_company_name          object
input_main_country_code     object
input_main_country          object
input_main_region           object
                            ...
youtube_url                 object
tiktok_url                 float64
technologies                object
created_at                  object
last_updated_at             object
Length: 76, dtype: object

Checking if there is any differences in the country attributes

In [15]:
df['input_main_country'].unique()

array(['Pakistan', 'Denmark', 'Norway', 'Hong Kong', 'Malaysia',
       'Singapore', 'Switzerland', 'United States', 'India',
       'United Kingdom', 'Thailand', 'France', 'Ireland', 'China',
       'Finland', 'Sweden', 'Bangladesh', 'Poland', 'Germany', 'Canada',
       'South Korea', 'Luxembourg', 'Cyprus', 'Israel', 'Japan',
       'Netherlands', 'Hungary', 'Italy', 'Belgium', 'Malta',
       'United Arab Emirates', 'Serbia', 'Romania', 'Spain'], dtype=object)

In [6]:
df['main_country'].unique()

array(['Pakistan', 'India', 'Denmark', nan, 'Ireland', 'Slovakia',
       'Mauritius', 'Norway', 'Canada', 'United States', 'Hong Kong',
       'Italy', 'Malaysia', 'United Kingdom', 'Singapore', 'Mexico',
       'Switzerland', 'South Africa', 'Kenya', 'Philippines', 'Sweden',
       'Japan', 'Netherlands', 'Germany', 'Hungary', 'Thailand', 'Benin',
       'France', 'China', 'Czechia', 'Paraguay', 'Brazil',
       'United Arab Emirates', 'Latvia', 'Bulgaria', 'Costa Rica',
       'Spain', 'Turkey', 'Finland', 'Myanmar', 'Greece', 'Georgia',
       'Nigeria', 'Bangladesh', 'Ukraine', 'New Zealand', 'Australia',
       'Croatia', 'Poland', 'Saint Vincent And The Grenadines', 'Russia',
       'Austria', 'Taiwan', 'Kazakhstan', 'Honduras', 'Chile',
       'Indonesia', 'Vietnam', 'Iceland', 'Colombia', 'Estonia',
       'Argentina', 'Belgium', 'Peru', 'South Korea', 'Tanzania',
       'Luxembourg', 'Egypt', 'Democratic Republic Of The Congo',
       'Portugal', 'Vanuatu', 'Israel', 'Nepal', 'El Salvador',
       'Trinidad And Tobago', 'Namibia', 'Syria', 'Morocco', 'Lithuania',
       'Tunisia', 'Iran', 'Romania', 'Dominican Republic', 'Oman',
       'Ã…land Islands', 'Ecuador', 'Chad', 'Albania', 'Uzbekistan',
       'Serbia', 'Guatemala', 'Cayman Islands', 'Ghana', 'Cabo Verde'],
      dtype=object)

## Matching the companies

In order to compare the input company name with the matching company name we will use the fuzzy matching technique. 
Therefore, each corresponding row will be assigned a score of compatibility where the highest represents a stronger match and the lowest indicates a weaker compatibility.

We will proceed with the same technique for the main city, main region and main street due to differences in terms of spelling that my occur. 

After carefully reviweing the values of country and country code we've decided to compare the 2 attributes directly against their corresponding input values using exact matches. The same applies for postal code and the street number as the format of these atributes is numerical and it should be a perfect match.

In [19]:
from rapidfuzz import fuzz

In [45]:
def matching_scores(row):
    
    scores = {}

    # Main Company name - using fuzzy matching
    scores['match_company_name'] = (
        fuzz.token_sort_ratio(row['input_company_name'], row['company_name']))

    # Main Country code - exact match
    scores['match_country_code'] = (
        1 if row['input_main_country_code'] == row['main_country_code']
        else 0
    )

    # Main Country - exact match
    scores['match_country'] = (
        1 if row['input_main_country'] == row['main_country']
        else 0
    )
    
    # Main Region- using fuzzy matching
    scores['match_region'] = (
        fuzz.token_sort_ratio(row['input_main_region'], row['main_region'])
        if pd.notnull(row['input_main_region'])
        else 0
    )

    # Main City - using fuzzy matching
    scores['match_city'] = (
        fuzz.token_sort_ratio(row['input_main_city'], row['main_city'])
        if pd.notnull(row['input_main_city'])
        else 0
    )

    # Maine Postal Code - exact match
    scores['match_postcode'] = (
        1 if pd.notnull(row['input_main_postcode']) 
        and pd.notnull(row['main_postcode'])
        and row['input_main_postcode'] == row['main_postcode'] 
        else 0
    )

    # Main Street - using fuzzy matching
    scores['match_street'] = (
        fuzz.token_sort_ratio(row['input_main_street'], row['main_street'])
        if pd.notnull(row['input_main_street']) 
        and pd.notnull(row['main_street']) 
        else 0
    )

    # Main Street Number - exact match
    scores['match_street_number'] = (
        1 if pd.notnull(row['input_main_street_number']) 
        and pd.notnull(row['main_street_number'])
        and row['input_main_street_number'] == row['main_street_number'] 
        else 0
    )

    # Based on their importance each attribute will be assigned a weight
    scores['total_score']= (
        scores['match_company_name']*10000 + # the most important - company name
        scores['match_country_code']*1000 + # second most important - country
        scores['match_country']*1000 + # second most important - country
        scores['match_region']*100 + # third most important 
        scores['match_city']*10 +
        scores['match_postcode']*10 + 
        scores['match_street']*1 +        
        scores['match_street_number']*1)

    
    return pd.Series(scores)

In [21]:
# Apply scores on the original dataframe
df_scores = df.apply(matching_scores, axis=1)

# Concat with the original dataframe
df_final = pd.concat([df, df_scores], axis=1)

We computed the compatibility scores for each input attributes and calculated a total score based on the importance of each attribute:

    -> the most important is the company name
    -> the second most important attributes are country and country code
    -> the third most important is the main reigon
    -> the fourth most important attributes are postal code and city
    -> the rest of the input attributes (street and number) are the least important as they register the most null values

In [23]:
df_final.head()

,input_row_key,input_company_name,input_main_country_code,input_main_country,input_main_region,input_main_city,input_main_postcode,input_main_street,input_main_street_number,veridion_id,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,locations,num_locations,company_type,year_founded,revenue,revenue_type,employee_count,employee_count_type,generated_description,generated_business_tags,short_description,long_description,business_tags,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,ibc_insurance_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,ibc_insurance_codes,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,technologies,created_at,last_updated_at,match_company_name,match_country_code,match_country,match_region,match_city,match_postcode,match_street,match_street_number,total_score
0,0,24-SEVEN MEDIA NETWORK (PRIVATE) LIMITED,PK,Pakistan,Sindh,Karachi,NaN,NaN,NaN,26e22210-93e5-11eb-b997-8dd98d09cf25,New Millennium Network,New Millennium Network Private Limited | MNET ...,New Millennium Network,PK,Pakistan,Sindh,Karachi,74400,NaN,NaN,NaN,NaN,"PK, Pakistan, Sindh, Karachi, 74400, , , 24.85...",1.0,Private,2001.0,311793.0,modelled,23.0,extracted,"MNET, incorporated in 2001, is a Pakistani com...",Mobile Top-up Services | Website Development |...,"Incorporated in 2001, MNET is the first compan...","Incorporated in 2001, MNET is the first compan...",Transfer Funds | Shop & Products | Managed Ser...,517810.0,All Other Telecommunications,NaN,NaN,Cable & Internet Providers,Telecommunication Services,IT&C Services,Media & Entertainment,SV-ME,Media,SV.1,Services,SV,7375 | 4899,Information Retrieval Services (Internet servi...,NaN,6190,Other telecommunications activities,61.9,Other telecommunications activities,NaN,9.233351e+11,+923335055787,NaN,NaN,NaN,https://www.mnet.com.pk/,mnet.com.pk,com.pk,en,NaN,NaN,NaN,http://www.linkedin.com/company/mnet-services-...,NaN,NaN,NaN,NaN,web servers: apache http server - 2 | javascri...,2020-02-25T14:47:51.000Z,2024-11-29T04:18:00.109Z,12.903226,1.0,1.0,100.000000,100.000000,0.0,0.0,0.0,142032.258065
1,0,24-SEVEN MEDIA NETWORK (PRIVATE) LIMITED,PK,Pakistan,Sindh,Karachi,NaN,NaN,NaN,01004641-1dd8-11ef-9268-316fc8e174dd,Private Helipad Ali Villa,NaN,Private Helipad Ali Villa,PK,Pakistan,Sindh,Karachi,74400,NaN,NaN,NaN,NaN,"PK, Pakistan, Sindh, Karachi, 74400, , , 25.03...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,The Private Helipad Ali Villa is a heliport lo...,Air Transportation Services | Heliport Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-29T16:24:11.019Z,2025-04-20T15:03:24.026Z,12.307692,1.0,1.0,100.000000,100.000000,0.0,0.0,0.0,136076.923077
2,0,24-SEVEN MEDIA NETWORK (PRIVATE) LIMITED,PK,Pakistan,Sindh,Karachi,NaN,NaN,NaN,8266efc1-13e7-11ec-aa14-7bf90e1e10f1,24seven Research Network,NaN,24seven Research Network,IN,India,Haryana,Faridabad,121001,Gurunanak Gali No. 3,3071,28.399705,77.286203,"IN, India, Haryana, Faridabad, 121001, Gurunan...",1.0,Private,NaN,518659.0,modelled,75.0,modelled,24seven Research Network is a market research ...,Market Research Services | Data Collection Ser...,We are the fastest growing market research com...,"With a team of highly skilled, qualified and m...",NaN,541910.0,Marketing Research and Public Opinion Polling,NaN,NaN,Market Research & Opinion Polling,Marketing & Advertising Agencies,Advertising & Marketing,Advertising & Marketing,SV-AD,Media,SV.1,Services,SV,8732,"Commercial Economic, Sociological, and Educati...",Strategic Consultants | Information Technology...,7320,Market research and public opinion polling,73.2,Market research and public opinion polling,641406 | 641411 | 641405 | 641403 | 641401,9.199711e+11,+919971139111,info@24sevenresearchnetwork.com,info@24sevenresearchnetwork.com,NaN,https://24sevenresearchnetwork.com/,24sevenresearchnetwork.com,com,en,https://www.facebook.com/24seven-Research-Netw...,https://twitter.com/Network24seven%20,NaN,https://www.linkedin.com/company/51633612%20%20,NaN,NaN,NaN,NaN,NaN,2021-09-12T05:28:48.000Z,2025-03-18T23:08:37.059Z,15.625000,0.0,0.0,16.666667,37.500000,0.0,0.0,0.0,158291.666667
3,0,24-SEVEN MEDIA NETWORK (PRIVATE) LIMITED,PK,Pakistan,Sindh,Karachi,NaN,NaN,NaN,0183f0b2-93e5-11eb-be5a-4f810ab55f2e,EmerioSoft,NaN,Emeriosoft | EMERIOSOFT Private L.T.D.,PK,Pakistan,Sindh,NaN,75300,NaN,NaN,NaN,NaN,"PK, Pakistan, Sindh, , 75300, , , 24.904214207...",2.0,Private,2012.0,2400000.0,extracted,46.0,extracted,"Emeriosoft is a company based in Karachi, Paki...",Hr Support | Information Technology Counseling...,EmerioSoft is dedicated Web solutions & Websit...,Brand Identity 'We are a Digital Agency that o...,IT Management | Website Designing | Website Se...,541511.0,Custom Computer Programming Services,NaN,NaN,Web Development Agencies,Digital Agencies,Advertising & Marketing,Software & IT Services,TC-SI,Technology,TC.1,Technology & Communications,TC,7371,Computer Programming Services,Software Developers (Pre-Packaged) | Software ...,6201,Computer programming activities,62.01,Computer programming activities,891801 | 891802 | 641411 | 740809 | 641401,9.221348e+11,+922134814455,hr@emeriosoft.com,hr@emeriosoft.com | info@emeriosoft.com,NaN,https://www.emeriosoft.com/,emeriosoft.com,com,en,https://www.facebook.com/emerioSoft/,https://twitter.com/emeriosoft,NaN,https://www.linkedin.com/company/emeriosoft,NaN,NaN,NaN,NaN,miscellaneous: popper | maps: google maps | pr...,2020-05-03T12:33:22.000Z,2025-03-31T16:16:58.462Z,8.000000,1.0,1.0,100.000000,0.000000,0.0,0.0,0.0,92000.000000
4,0,24-SEVEN MEDIA NETWORK (PRIVATE) LIMITED,PK,Pakistan,Sindh,Karachi,NaN,NaN,NaN,87bb7cde-93e4-11eb-8474-3bbe2d07207d,Asiatic Public Relations Network,Asiatic Public Relations Network Private Limited,Asiatic Public Relations Network | Asiatic Pub...,PK,Pakistan,Sindh,Karachi Division,75600,Nehr-e-Khayyam Street,NaN,NaN,NaN,"PK, Pakistan, Sindh, Karachi Division, 75600, ...",3.0,Private,1963.0,129640.0,modelled,28.0,extracted,"Asiatic Public Relations Network, legally know...",Crisis Management Services | Press Release Ser...,The leading communications and public relation...,Asiatic Public Relations Network (Private) Lim...,Public Relations | Communications and Public A...,541820.0,Public Relations Agencies,NaN,NaN,Public Relations Agencies,Marketing & Advertising Agencies,Advertising & Marketing,Professional & Commercial Services,SV-PS,Consumer Services,SV.3,Services,SV,8743,Public Relations Services,NaN,7020,Management consultancy activities,70.21 | 70.22,Public relations and communication activities ...,NaN,9.221354e+11,+924235758896 | +922135837674 | +92512204114 |...,info@apr.com.pk,info@apr.com.pk,NaN,https://apr.com.pk/,apr.com.pk,com.pk,en,https://www.facebook.com/asiaticpublicrelation...,https://twitter.com/AsiaticPR,https://www.instagram.com/asiaticpublicrelations/,https://www.linkedin.com/company/asiaticpublic...,NaN,NaN,https://www.youtube.com/channel/UClKgHvHIuOu4K...,NaN,miscellaneous: babel | javascript libraries: c...,2020-02-19T03:58:25.000Z,2024-11-25T11:35:47.963Z,16.666667,1.0,1.0,100.000000,60.869565,0.0,0.0,0.0,179275.362319

In [25]:
df_final['match_company_name'].describe()

count    2951.000000
mean       28.600084
std        22.138328
min         0.000000
25%        12.000000
50%        20.689655
75%        41.101056
max       100.000000
Name: match_company_name, dtype: float64

We see that more than 75% of the fuzzy compatibility scores are less than 41.

Therefore we decided that the threshold for non-acceptable matches in terms of country is 20.

In [27]:
len(df_final[df_final['total_score'] >= 200000]['input_row_key'].unique())

512

Out of the total number of 592 unique inputs, 13% don't qualify as consistent and valid. Therefore we cannot say there are reliable matches and we will exclude them from the dataset.

In [29]:
df_final = df_final[df_final['total_score'] > 200000]

In [30]:
df_final

,input_row_key,input_company_name,input_main_country_code,input_main_country,input_main_region,input_main_city,input_main_postcode,input_main_street,input_main_street_number,veridion_id,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,locations,num_locations,company_type,year_founded,revenue,revenue_type,employee_count,employee_count_type,generated_description,generated_business_tags,short_description,long_description,business_tags,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,ibc_insurance_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,ibc_insurance_codes,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,technologies,created_at,last_updated_at,match_company_name,match_country_code,match_country,match_region,match_city,match_postcode,match_street,match_street_number,total_score
6,1,2OPERATE A/S,DK,Denmark,North Denmark Region,Aalborg,9220,Niels Jernes Vej,10,92d0f2d4-0581-11ec-8c14-3f55c5871ced,CO 2 Operate,CO2 Operate B.V.,CO 2 Operate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private,NaN,NaN,NaN,15.0,modelled,"CO 2 Operate, legally known as CO2 Operate B.V...",CSR Roadmap Development | Carbon Footprint Cal...,"We are officially recognised as ""mileubaromete...",Samen bouwen aan de transitie naar een duurzam...,NaN,541620.0,Environmental Consulting Services,NaN,NaN,Environmental Engineering Services,Engineering Services,Architecture & Engineering Services,Engineering & Construction Services,IF-EN,Infrastructure,IF.2,Infrastructure,IF,8999,"Services, NEC (environmental consultants)",NaN,7490,"Other professional, scientific and technical a...",74.9 | 74.3,"Other professional, scientific and technical a...",NaN,NaN,NaN,p.burgers@co2operate.nl,NaN,NaN,https://co2operate.com/,co2operate.com,com,nl,NaN,https://twitter.com/co2operate,NaN,NaN,NaN,NaN,NaN,NaN,miscellaneous: rss | cms: wordpress - 5.9.7 | ...,2021-08-22T23:51:37.000Z,2024-11-05T09:16:37.000Z,25.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,250000.000000
8,1,2OPERATE A/S,DK,Denmark,North Denmark Region,Aalborg,9220,Niels Jernes Vej,10,0b470651-93e5-11eb-b4a6-27899be4e45d,2A Pharma ApS.,2A Pharma ApS. | 2A Pharma AB.,NaN,DK,Denmark,North Denmark Region,Aalborg,9220,Niels Jernes Vej,10,57.012738,9.988313,"DK, Denmark, North Denmark Region, Aalborg, 92...",2.0,Private,2021.0,23532880.0,modelled,35.0,modelled,2A Pharma ApS is a clinical stage biopharmaceu...,Biotechnology | Biopharmaceutical Research and...,Together we can effectively turn research and ...,Previous Next 2A Pharma is a clinical stage Sw...,Autoimmune Disease | Clinical Trials & Studies...,325414.0,Biological Product (except Diagnostic) Manufac...,NaN,NaN,Pharmaceutical Products,Pharmaceuticals,Pharmaceuticals & Cosmetics,Biotechnology & Pharmaceuticals,HC-BP,Biotechnology & Pharmaceuticals,HC.1,Health Care,HC,2836,"Biological Products, Except Diagnostic Substances",Medical Laboratories (Research) | Wholesale - ...,2100,"Manufacture of pharmaceuticals, medicinal chem...",21.2 | 21.1,Manufacture of pharmaceutical preparations | M...,808201 | 519001 | 801801 | 891001 | 591201,4.572147e+09,+4572146700,info@2apharma.com,info@2apharma.com,NaN,https://2apharma.com/,2apharma.com,com,en,NaN,https://twitter.com/2APharma,NaN,https://www.linkedin.com/company/2a-pharma-ab,NaN,NaN,NaN,NaN,widgets: instagram feed for wordpress | widget...,2020-02-17T15:49:48.000Z,2025-02-17T10:36:39.000Z,38.461538,1.0,1.0,100.000000,100.000000,1.0,100.000000,1.0,397726.384615
9,1,2OPERATE A/S,DK,Denmark,North Denmark Region,Aalborg,9220,Niels Jernes Vej,10,01db9ab2-06b1-11ec-984c-7f34b099c1c2,RenSams Solutions,RenSams Solutions APS. | T RenSams Solutions IVS.,RenSams Solutions,DK,Denmark,North Denmark Region,Aalborg,9220,Niels Jernes Vej,10,57.012515,9.988374,"DK, Denmark, North Denmark Region, Aalborg, 92...",1.0,Private,NaN,64390448.0,modelled,75.0,modelled,Rensams Solutions Aps is a company based in Aa...,Retail | Surgical Appliance and Supplies Manuf...,The cornerstone of our business is based on ou...,"T RenSams Solutions IVS,we sell and purchase n...",Medical Equipments | Laboratory Equipment | Gl...,423450.0,"Medical, Dental, and Hospital Equipment and Su...",NaN,NaN,Medical Supply Manufacturers,Medical Equipment & Supplies,Other Capital Goods,Medical Equipment & Supplies,HC-MS,Medical Technology,HC.4,Health Care,HC,5047,"Medical, Dental and Hospital Equipment and Sup...",Wholesale - Surgical / Dental / Hospital / Dra...,4649 | 4659,Wholesale of other household goods | Wholesale...,46.65 | 46.63 | 46.69 | 46.66 | 46.62 | 46.64 ...,Wholesale of office furniture | Wholesale of m...,519201 | 801801 | 171302 | 801101 | 802101,4.540425e+09,+4540424997 | +4591642835,info@rensams.dk,info@rensams.dk,NaN,https://rensams.dk/,rensams.dk,dk,en,https://www.facebook.com/pages/category/Medica...,NaN,NaN,https://www.linkedin.com/company/rensams-solut...,NaN,NaN,NaN,NaN,web servers: empathy platform | widgets: css |...,2021-08-26T10:07:38.000Z,2025-03-28T00:38:27.256Z,20.689655,1.0,1.0,100.000000,100.000000,1.0,100.000000,1.0,220007.551724
15,100,COMBA TELECOM LIMITED,HK,Hong Kong,Hong Kong,Hong Kong Island,NaN,NaN,NaN,0fa7533d-93e5-11eb-b997-8dd98d09cf25,Comba Telecom Inc.,Comba Telecom Inc. | Comba Telecom S.L.U | Com...,NaN,US,United States,California,Milpitas,95035,Gibraltar Drive,568,37.415827,-121.891741,"US, United States, California, Milpitas, 95035...",8.0,Private,NaN,NaN,NaN,NaN,NaN,Comba Telecom Inc. is a company based in Milpi...,Network Audit and Optimization | Communication...,"Unleash Power of 5G open RAN Openness, innovat...","Comba Telecom, Inc., based in Milpitas, Califo...",In Building Solution | In Building Wireless | ...,517112.0,Wireless Telecommunications Carriers (except S...,NaN,NaN,Telecommunications,Telecommunication Services,IT&C Services,Telecommunication Services,TC-TL,Telecommunications,TC.4,Technology & Communications,TC,4812 | 4899 | 4812,Radiotelephone Communications (cellular carrie...,Communication Equipment Installation - Commerc...,6120,Wireless telecommunications activities,61.2,Wireless telecommunications activities,153402 | 509201 | 153401 | 349401 | 173103,1.408526e+10,+34910618108 | +85226358610 | +85239146282 | +...,privacy@combausa.com,privacy@combausa.com,comba@combausa.com,https://combausa.com/,combausa.com,com,en,https://www.facebook.com/NortraCables/,NaN,NaN,https://www.linkedin.com/showcase/combausa,NaN,NaN,https://www.youtube.com/channel/UCqOIMCMBwU06N...,NaN,javascript libraries: core-js | widgets: twitt...,2019-11-24T10:54:58.000Z,2025-03-27T08:56:47.434Z,25.641026,0.0,0.0,21.052632,16.666667,0.0,0.000000,0.0,258682.186235
20,101,Comengineering Sdn. Bhd.,MY,Malaysia,Selangor,Subang Jaya,47650,Jalan Putra Mahkota 7/7B,5-2,17df8322-93e5-11eb-b997-8dd98d09cf25,Metro Com Engineering S.p.A.,NaN,Metro Com Engineering S.p.A. | Metro Com Engee...,IT,Italy,Piedmont,Garbagna Novarese,28070,Via Giacomo Matteotti,300,45.400141,8.659375,"IT, Italy, Piedmont, Garbagna Novarese, 28070,...",1.0,Private,1935.0,11273039.0,modelled,75.0,modelled,"Metro Com, legally known as Metrocom Engineeri...",Optical Extensometers for Strain Measurement |...,METRO COM - Macchine per prove materiali e sis...,"Since 1935, we design, manufacture, and market...",Tensile Testing Machine | Material Testing | R...,333517.0,Machine Tool Manufacturing,334519.0,Other Measuring and Controlling Device Manufac...,Industrial Machinery & Supplies,Industrial Machinery,Other Capital Goods,Engineering & Construction Services,IF-EN,Infrastructure,IF.2,Infrastructure,IF,3542 | 3541,"Machine Tools, Metal Forming Type | Machine To...",Engineers | Operations Consultants | Metal Pro...,2822 | 2823,Manufacture of metal-forming machinery and mac...,28.91 | 28.41 | 28.49,Manufacture of machinery for metallurgy | Manu...,891601 | 641403 | 359001 | 891702 | 641409,3.903218e+11,+390321845126 | +390321845376,info@metrocom.it,info@metrocom.it | metrocom@metrocom.it | priv...,NaN,https://metrocom.it/,metrocom.it,it,it,NaN,NaN,NaN,http://www.linkedin.com/company/metro-engineering,NaN,NaN,NaN,NaN,javascript libraries: core-js | miscellaneous:...,2020-06-08T09:46:44.000Z,2025-03-26T19:09:35.245Z,61.538462,0.0,0.0,25.000000,28.571429,0.0,35.555556,0.0,618205.885226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2946,99,Comba Technologies Sdn. Bhd.,MY,Malaysia,Selangor,Subang Jaya,47650,Jalan USJ 25/1B,NaN,00af1484-93e5-11eb-aa66-9b8d95e2171b,V-Smart Technologies Sdn Bhd.,V-Smart Technologies Sdn Bhd.,NaN,MY,Malaysia,Selangor,Semenyih,43500,Jalan Semenyih Sentral 3,27-g,2.944672,101.843496,"MY, Malaysia, Selangor, Semenyih, 43500, Jalan...",1.0,Private,NaN,3249012.0,modelled,75.0,modelled,"V-Smart, legally known as V-Smart Technologies...",User-friendly Products and Services | Technolo...,We are highly committed in providing user frie...,We are highly committed in providing user frie...,NaN,541512.0,Computer Systems Design Services,NaN,NaN,Tech Companies,Software & IT Services,IT&C Services,NaN,NaN,NaN,NaN,NaN,NaN,7373 | 7379,Computer Integrated Systems Design | Computer ...,NaN,6202,Computer consultancy and computer facilities m...,62.03 | 62.02,Computer facilities management activities | Co...,NaN,6.038739e+10,+60387390328,NaN,NaN,NaN,http://vsmart.com.my/v1/,vsmart.com.my,com.my,en,https://www.facebook.com/vsmarttechnologies/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-12-05T18:12:15.000Z,2025-04-03T01:54:04.425Z,73.684211,1.0,1.0,100.000000,21.052632,0.0,41.025641,0.0,749093.657220
2947,99,Comba Technologies Sdn. Bhd.,MY,Malaysia,Selangor,Subang Jaya,47650,Jalan USJ 25/1B,NaN,00eac49f-918f-11ed-8cca-6b54a7dd36ad,MyDialysis,MYDIALYSIS TECHNOLOGIES SDN. BHD.,MyDialysis,MY,Malaysia,Selangor,Cyberjaya,63000,Persiaran APEC,3730,2.909511,101.654918,"MY, Malaysia, Selangor, Cyberjaya, 63000, Pers...",1.0,Private,NaN,2844118.0,modelled,75.0,modelled,"Mydialysis, legally known as MYDIALYSIS TECHNO...",Healthtech | Medical Group Services | Mobile A...,Hemodialysis Patients Transit System,Living with flexible & Healthy lifestyle Work ...,Hemodialysis | Dialysis Centre | Transit Syste...,621492.0,Kidney Dialysis Centers,NaN,NaN,Nephrology Clinic,Hospitals & Clinics,Health Care & Social Assistance,Health Care Delivery,HC-DY,Health Care Providers,HC.3,Health Care,HC,8092,Kidney Dialysis Centers,NaN,8690,Other human health activities,86.9,Other human health activities,NaN,6.012574e+10,+60108354132 | +60125742218,info@mydialysis.com.my,info@mydialysis.com.my,NaN,https://mydialysis.com.my/,mydialysis.com.my,com.my,en,NaN,NaN,https://www.instagram.com/mydialysis/,NaN,NaN,https://play.google.com/store/apps/details?id=...,NaN,NaN,web servers: litespeed | javascript libraries:...,2023-01-08T16:25:46.000Z,2025-04-19T03:16:59.073Z,21.052632,1.0,1.0,100.000000,30.000000,0.0,27.586207,0.0,222853.901996
2948,99,Comba Technologies Sdn. Bhd.,MY,Malaysia,Selangor,Subang Jaya,47650,Jalan USJ 25/1B,NaN,01fb2fa2-a7fa-11ef-9e6b-b90a330e89d5,CM Boost Studio,CM Boost Studio Sdn Bhd.,CM Boost Studio,MY,Malaysia,Selangor,Subang Jaya,47650,Jalan USJ 25/1B,NaN,NaN,NaN,"MY, Malaysia, Selangor, Subang Jaya, 47650, Ja...",1.0,Private,NaN,548715.0,modelled,15.0,modelled,CM Boost Studio Sdn Bhd is a company based in ...,Content Creation | Affiliate Marketing | Influ...,"Welcome to CM Boost Studio, where live hosting...","At CM Boost Studio, we thrive at the heart of ...",Digital Marketing & Advertising | Digital Land...,541613.0,Marketing Consulting Services,NaN,NaN,Digital & Marketing Agencies,Marketing & Advertising Agencies,Advertising & Marketing,Advertising & Marketing,SV-AD,Media,SV.1,Services,SV,8742,Management Consulting Services (marketing cons...,NaN,7020,Management consultancy activities,70.21 | 70.22,Public relations and communication activities ...,NaN,6.017323e+10,+60173233278 | +60174588773,info@cmbooststudio.com,info@cmbooststudio.com,NaN,https://www.cmbooststudio.com/,cmbooststudio.com,com,en,NaN,NaN,https://www.instagram.com/cmbooststudio/,NaN,NaN,NaN,NaN,NaN,NaN,2024-05-02T23:25:07.152Z,2025-04-21T03:29:20.141Z,32.558140,1.0,1.0,100.000000,100.000000,1.0,100.000000,0.0,338691.395349
2949,99,Comba Technologies Sdn. Bhd.,MY,Malaysia,Selangor,Subang Jaya,47650,Jalan USJ 25/1B,NaN,0fa7533d-93e5-11eb-b997-8dd98d09cf25,Comba Telecom Inc.,Comba Telecom Inc. | Comba Telecom S.L.U | Com...,NaN,US,United States,California,Milpitas,95035,Gibraltar Drive,568,37.415827,-121.891741,"US, United States, California, Milpitas, 95035...",8.0,Private,NaN,NaN,NaN,NaN,NaN,Comba Telecom Inc. is a company based in Milpi...,Network Audit and Optimization | Communication...,"Unleash Power of 5G open RAN Openness, innovat...","Comba Telecom, Inc., based in Milpitas, Califo...",In Building Solution | In Building Wireless | ...,517112.0,Wireless Telecommunications Carriers (except S...,NaN,NaN,Telecommunications,Telecommunication Services,IT&C Services,Telecommunication Services,TC-TL,Telecommunications,TC.4,Technology & Communications,TC,4812 | 4899 | 4812,Radiotelephone Communications (cellular carrie...,Communication Equipment Installation - Commerc...,6120,Wireless telecommunications activities,61.2,Wireless telecommunications activities,153402 | 509201 | 153401 | 349401 | 173103,1.408526e+10,+34910618108 | +85226358610 | +85239146282 | +...,privacy@combausa.com,privacy@combausa.com,comba@combausa.com,https://combausa.com/,combausa.com,com,en,https://www.facebook.com/NortraCables/,NaN,NaN,https://www.linkedin.com/showcase/combausa,NaN,NaN,https://www.youtube.com/channel/UCqOIMCMBwU06N...,NaN,javascript libraries: core-js | widgets: twitt...,2019-11-24T10:54:58.000Z,2025-03-27T08:56:47.434Z,56.521739,0.0,0.0,33.333333,10.526316,0.0,26.666667,0.0,568682.654462
2950,99,Comba Technologies Sdn. Bhd.,MY,Malaysia,Selangor,Subang Jaya,47650,Jalan USJ 25/1B,NaN,00bc7e85-9307-11ec-9f06-a57206a728ac,OM Technologies Sdn.Bhd.,OM Technologies Sdn.Bhd.,NaN,MY,Malaysia,Selangor,Petaling Jaya,47301,Jalan SS 7/26,17,3.105966,101.592760,"MY, Malaysia, Selangor, Petaling Jaya, 47301, ...",1.0,Private,2003.0,1257488.0,modelled,25.0,extracted,OM Technologies Sdn.Bhd. is a company based in...,Financial Planning Services | Project Teams | ...,"OM Technologies is privately-owned, self-funde...","OM Technologies is privately-owned, self-funde...",Financial Services | Cryptocurrency | Business...,523940.0,Portfolio Management and Investment Advice,NaN,NaN,Investment Consultants & Financial Advisors,Investment Firms & Consultants,Finance & Insurance,NaN,NaN,NaN,NaN,NaN,NaN,6371 | 6799 | 6733 | 6282 | 6282,"Pension, Health, and Welfare Funds (managers) ...",Information Technology Consultants | Operation...,6630 | 6619,Fund management activities | Other activities ...,66.3 | 66.19,Fund management activities | Other activities ...,641411 | 641403 | 641401 | 891801 | 891802,6.019665e+10,+60196653030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.linkedin.com/company/om-technologie...,NaN,NaN,NaN,NaN,NaN,2022-02-21T11:05:45.000Z,2025-04-11T01:04:02.237Z,69.230769,1.0,1.0,100.000000,66.666667,0.0,64.285714,0.0,705038.644689

Since the second most important feature is the country as it is a differential aspect for each company we decided to keep only the records where the country is an exact match with the input country.

In [31]:
df_final = df_final[df_final['match_country_code'] == 1]

In [33]:
# Retrieving the best match for each input company 
perfect_matches = df_final.loc[df_final.groupby('input_row_key')['total_score'].idxmax()].reset_index(drop=True)

In [35]:
# Saving the best matches in a new file
perfect_matches.to_csv('perfect_matches.csv', index=False)

#### In conclusion, we matched the input companies with the records having the highest total score, where the most important featuers are the company name and country.

# Data analysis

##### Task: Analyze the matched data for inconsistencies to identify what needs cleaning before client delivery.

In [37]:
perfect_matches.head()

,input_row_key,input_company_name,input_main_country_code,input_main_country,input_main_region,input_main_city,input_main_postcode,input_main_street,input_main_street_number,veridion_id,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,locations,num_locations,company_type,year_founded,revenue,revenue_type,employee_count,employee_count_type,generated_description,generated_business_tags,short_description,long_description,business_tags,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,ibc_insurance_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,ibc_insurance_codes,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,technologies,created_at,last_updated_at,match_company_name,match_country_code,match_country,match_region,match_city,match_postcode,match_street,match_street_number,total_score
0,1,2OPERATE A/S,DK,Denmark,North Denmark Region,Aalborg,9220,Niels Jernes Vej,10,0b470651-93e5-11eb-b4a6-27899be4e45d,2A Pharma ApS.,2A Pharma ApS. | 2A Pharma AB.,NaN,DK,Denmark,North Denmark Region,Aalborg,9220,Niels Jernes Vej,10,57.012738,9.988313,"DK, Denmark, North Denmark Region, Aalborg, 92...",2.0,Private,2021.0,23532880.0,modelled,35.0,modelled,2A Pharma ApS is a clinical stage biopharmaceu...,Biotechnology | Biopharmaceutical Research and...,Together we can effectively turn research and ...,Previous Next 2A Pharma is a clinical stage Sw...,Autoimmune Disease | Clinical Trials & Studies...,325414.0,Biological Product (except Diagnostic) Manufac...,NaN,NaN,Pharmaceutical Products,Pharmaceuticals,Pharmaceuticals & Cosmetics,Biotechnology & Pharmaceuticals,HC-BP,Biotechnology & Pharmaceuticals,HC.1,Health Care,HC,2836,"Biological Products, Except Diagnostic Substances",Medical Laboratories (Research) | Wholesale - ...,2100,"Manufacture of pharmaceuticals, medicinal chem...",21.2 | 21.1,Manufacture of pharmaceutical preparations | M...,808201 | 519001 | 801801 | 891001 | 591201,4.572147e+09,+4572146700,info@2apharma.com,info@2apharma.com,NaN,https://2apharma.com/,2apharma.com,com,en,NaN,https://twitter.com/2APharma,NaN,https://www.linkedin.com/company/2a-pharma-ab,NaN,NaN,NaN,NaN,widgets: instagram feed for wordpress | widget...,2020-02-17T15:49:48.000Z,2025-02-17T10:36:39.000Z,38.461538,1.0,1.0,100.000000,100.000000,1.0,100.0,1.0,397726.384615
1,2,3 STEP IT A/S,DK,Denmark,Region Of Southern Denmark,TÃ¸nder Municipality,NaN,NaN,NaN,45309031-f8ab-11ed-89fe-613148a94f23,3 Step IT A/S.,3 Step IT A/S.,NaN,DK,Denmark,Capital Region Of Denmark,Gladsaxe Municipality,2860,VandtÃ¥rnsvej,62,55.736618,12.489560,"DK, Denmark, Capital Region of Denmark, Gladsa...",1.0,Private,NaN,NaN,NaN,NaN,NaN,3 Step IT A/S is a financial institution locat...,Financial Institution | Sales Financing Services,3 Step IT A/S. is a loans & financing company ...,NaN,NaN,NaN,NaN,NaN,NaN,Loans & Financing,Banks & Financial Services,Finance & Insurance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.572118e+09,+4572118040,NaN,NaN,NaN,http://www.3stepit.dk/?opi=79508299&sa=U&ved=0...,3stepit.dk,dk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-22T14:15:04.005Z,2025-04-16T15:47:06.888Z,74.074074,1.0,1.0,66.666667,60.000000,0.0,0.0,0.0,750007.407407
2,4,3 Step IT Sweden AB,SE,Sweden,Ã–stergÃ¶tland County,LinkÃ¶ping,581 15,NaN,NaN,e5cede70-0409-11ed-a83d-25d09483d16d,Proact IT Sweden,Proact IT Sweden AB. | Proact Systems A/S. | P...,Proact IT Sweden,SE,Sweden,VÃ¤stra GÃ¶taland County,Gothenburg,412 63,MÃ¶lndalsvÃ¤gen,24,57.689278,11.995340,"SE, Sweden, VÃ¤stra GÃ¶taland County, Gothenburg...",14.0,Private,1994.0,7000000.0,extracted,130.0,extracted,"Proact IT Sweden, legally known as Proact IT S...",Computer Support Services | Security Services ...,Making sure services are available when your e...,Proact Ã¤r Europas ledande specialist inom data...,VMware Solutions | Disaster Recovery | Hybrid ...,518210.0,"Computing Infrastructure Providers, Data Proce...",NaN,NaN,Hosting & Cloud Infrastructure Providers,Telecommunication Services,IT&C Services,Software & IT Services,TC-SI,Technology,TC.1,Technology & Communications,TC,7374 | 7379 | 7389,Computer Processing and Data Preparation and P...,Information Technology Consultants | Managemen...,6311 | 7420,"Data processing, hosting and related activitie...",74.2 | 63.11,"Photographic activities | Data processing, hos...",641411 | 641401 | 641405 | 891801 | 891802,4.613466e+10,+46841066600 | +492319586990 | +3227254518 | +...,support.nordic@proact.eu,info@proact.se,NaN,http://www.proact.se/,proact.se,se,en,https://www.facebook.com/ProactGroup/,https://twitter.com/proact_it,NaN,http://www.linkedin.com/company/proact-it-swed...,NaN,NaN,https://www.youtube.com/channel/UC87kltvgz8CrX...,NaN,cookie compliance: cookie control | javascript...,2022-03-16T02:22:44.000Z,2025-04-18T04:54:46.762Z,62.857143,1.0,1.0,63.414634,21.052632,0.0,0.0,0.0,637123.418302
3,5,"3DEGREES GROUP, INC.",US,United States,California,San Francisco,94104,Montgomery Street,235,df61d790-93e4-11eb-aa66-9b8d95e2171b,3Degrees Inc.,3Degrees Inc. | 3Degrees Group Inc.,NaN,US,United States,California,San Francisco,94104,Montgomery Street,235,37.791367,-122.402880,"US, United States, California, San Francisco, ...",10.0,Private,2010.0,NaN,NaN,NaN,NaN,3Degrees Inc. is a company based in San Franci...,Energy Certificates | Climate Change Risk and ...,3Degrees is your global partner for transforma...,We maintain a log file of all actions that are...,Renewable Energies | Carbon Credits | Climate ...,541620.0,Environmental Consulting Services,NaN,NaN,Environmental Engineering Services,Engineering Services,Architecture & Engineering Services,Solar Technology & Project Developers,RR-ST,Alternative Energy,RR.1,Renewable Resources & Alternative Energy,RR,8999,"Services, NEC (environmental consultants)",Management Consultants | Operations Consultant...,7490,"Other professional, scientific and technical a...",74.9 | 74.3,"Other professional, scientific and technical a...",641401 | 641403 | 641411 | 641405 | 891601,1.866477e+10,+18664769378,unsubscribe@3degreesinc.com,website@3degreesinc.com | pr@3degreesinc.com |...,NaN,http://3degreesinc.com/,3degreesinc.com,com,en,https://www.facebook.com/3DegreesInc/,https://twitter.com/3Degrees_Inc,https://www.instagram.com/3degreesinc_/,https://www.linkedin.com/company/3degrees,NaN,NaN,https://www.youtube.com/channel/UC7voGEfqAPksg...,NaN,web servers: ibm websphere application server ...,2019-11-24T02:31:02.000Z,2025-04-17T02:28:36.847Z,30.303030,1.0,1.0,100.000000,100.000000,1.0,100.0,1.0,316141.303030
4,6,3Step IT Group Oy,FI,Finland,Uusimaa,Helsinki,00180,Mechelininkatu,1a,359bd116-93e5-11eb-b5f6-816dd10ac7b0,3Step IT Group,3 Step IT Sweden AB. | 3 Step IT Singapore Pte...,3Step IT Group,FI,Finland,Uusimaa,Helsinki,00180,Mechelininkatu,1a,60.164261,24.921892,"FI, Finland, Uusimaa, Helsinki, 00180, Mecheli...",20.0,Private,2004.0,111438832.0,modelled,600.0,modelled,"3stepIT AS is a company based in Oslo, Norway,...",Financial Institution | Leasing Services | Com...,"Simple IT procurement, smarter IT asset manage...","We provide simple, smart and sustainable Techn...",It Asset Management | IT Procurement | Disposa...,518210.0,"Computing Infrastructure Providers, Data Proce...",NaN,NaN,Hosting & Cloud Infrastructure Providers,Telecommunication Services,IT&C Services,Multiline and Specialty Retailers & Distributors,CG-MR,Consumer Goods Retail,CG.3,Consumer Goods,CG,7374 | 7379 | 7389,Computer Processing and Data Preparation and P...,Information Technology Consultants | Managemen...,6311 | 7420,"Data processing, hosting and related activitie...",74.2 | 63.11,"Photographic activities | Data processing, hos...",641411 | 641401 | 173101 | 641403 | 891801,3.581053e+11,+4792490985 | +4793055644 | +4791122399 | +467...,3stepit@3stepit.com,csdk@3stepit.com | legal@3stepit.com | uksales...,netherlands.service@bnpp3stepit.com | truls.bu...,https://sg.3stepit.com/,3stepit.com,com,en,https://www.facebook.com/3stepIT/,https://twitter.com/3StepITSverige,https://www.instagram.com/3stepitsuomi/,https://www.linkedin.com/showcase/3stepitsverige,NaN,NaN,https://www.youtube.com/channel/UCt5D7f5P0J_Oq...,NaN,javascript libraries: lodash | analytics: mato...,2019-11-24T01:16:40.000Z,2025-04-20T22:32:51.098Z,90.322581,1.0,1.0,100.000000,100.000000,1.0,100.0,1.0,916336.806452

In order to verify the incosistency of the data we first verified the data types of each column. In addition we checked the null values and analyzed descriptive statistics to better understand the content and distribution of the dataset.

In [38]:
perfect_matches_types = perfect_matches.applymap(type)

for col in perfect_matches.columns:
    print(f"\nColumn: {col}")
    print(perfect_matches_types[col].value_counts())
    
    null_count = perfect_matches[col].isnull().sum()
    print(f"Nulls: {null_count}")

    try:
        print("\nDescription:")
        print(perfect_matches[col].describe(include='all'))
    except Exception as e:
        print(f"Could not describe column {col}: {e}")

Column: input_row_key
<class 'int'>    449
Name: input_row_key, dtype: int64
Nulls: 0

Description:
count    449.000000
mean     296.587973
std      170.106865
min        1.000000
25%      153.000000
50%      295.000000
75%      443.000000
max      590.000000
Name: input_row_key, dtype: float64

Column: input_company_name
<class 'str'>    449
Name: input_company_name, dtype: int64
Nulls: 0

Description:
count                                          449
unique                                         448
top       APPLE DISTRIBUTION INTERNATIONAL LIMITED
freq                                             2
Name: input_company_name, dtype: object

Column: input_main_country_code
<class 'str'>    449
Name: input_main_country_code, dtype: int64
Nulls: 0

Description:
count     449
unique     28
top        DK
freq      120
Name: input_main_country_code, dtype: object

Column: input_main_country
<class 'str'>    449
Name: input_main_country, dtype: int64
Nulls: 0

Description:
count         449
unique         28
top       Denmark
freq          120
Name: input_main_country, dtype: object

Column: input_main_region
<class 'str'>      399
<class 'float'>     50
Name: input_main_region, dtype: int64
Nulls: 50

Description:
count                           399
unique                           79
top       Capital Region Of Denmark
freq                             73
Name: input_main_region, dtype: object

Column: input_main_city
<class 'str'>      391
<class 'float'>     58
Name: input_main_city, dtype: int64
Nulls: 58

Description:
count            391
unique           155
top       Copenhagen
freq              31
Name: input_main_city, dtype: object

Column: input_main_postcode
<class 'str'>      364
<class 'float'>     85
Name: input_main_postcode, dtype: int64
Nulls: 85

Description:
count      364
unique     261
top       1360
freq         8
Name: input_main_postcode, dtype: object

Column: input_main_street
<class 'str'>      291
<class 'float'>    158
Name: input_main_street, dtype: int64
Nulls: 158

Description:
count                        291
unique                       258
top       Dronning Eufemias Gate
freq                           4
Name: input_main_street, dtype: object

Column: input_main_street_number
<class 'str'>      257
<class 'float'>    192
Name: input_main_street_number, dtype: int64
Nulls: 192

Description:
count     257
unique    129
top         1
freq       25
Name: input_main_street_number, dtype: object

Column: veridion_id
<class 'str'>    449
Name: veridion_id, dtype: int64
Nulls: 0

Description:
count                                      449
unique                                     446
top       2b50edd1-93e5-11eb-a746-fdabd18be9c6
freq                                         2
Name: veridion_id, dtype: object

Column: company_name
<class 'str'>    449
Name: company_name, dtype: int64
Nulls: 0

Description:
count                      449
unique                     446
top       ECI Media Management
freq                         2
Name: company_name, dtype: object

Column: company_legal_names
<class 'str'>      268
<class 'float'>    181
Name: company_legal_names, dtype: int64
Nulls: 181

Description:
count                          268
unique                         267
top       ECI Media Management AB.
freq                             2
Name: company_legal_names, dtype: object

Column: company_commercial_names
<class 'str'>      308
<class 'float'>    141
Name: company_commercial_names, dtype: int64
Nulls: 141

Description:
count                                  308
unique                                 305
top       Apple green TRUCK AIR FOR WHEELS
freq                                     2
Name: company_commercial_names, dtype: object

Column: main_country_code
<class 'str'>    449
Name: main_country_code, dtype: int64
Nulls: 0

Description:
count     449
unique     28
top        DK
freq      120
Name: main_country_code, dtype: object

Column: main_country
<class 'str'>    449
Name: main_country, dtype: int64
Nulls: 0

Description:
count         449
unique         28
top       Denmark
freq          120
Name: main_country, dtype: object

Column: main_region
<class 'str'>      435
<class 'float'>     14
Name: main_region, dtype: int64
Nulls: 14

Description:
count                           435
unique                          103
top       Capital Region Of Denmark
freq                             61
Name: main_region, dtype: object

Column: main_city
<class 'str'>      424
<class 'float'>     25
Name: main_city, dtype: int64
Nulls: 25

Description:
count            424
unique           204
top       Copenhagen
freq              27
Name: main_city, dtype: object

Column: main_postcode
<class 'str'>      398
<class 'float'>     51
Name: main_postcode, dtype: int64
Nulls: 51

Description:
count        398
unique       305
top       178957
freq          12
Name: main_postcode, dtype: object

Column: main_street
<class 'str'>      354
<class 'float'>     95
Name: main_street, dtype: int64
Nulls: 95

Description:
count             354
unique            331
top       SnarÃ¸yveien
freq                4
Name: main_street, dtype: object

Column: main_street_number
<class 'str'>      314
<class 'float'>    135
Name: main_street_number, dtype: int64
Nulls: 135

Description:
count     314
unique    153
top         1
freq       21
Name: main_street_number, dtype: object

Column: main_latitude
<class 'float'>    449
Name: main_latitude, dtype: int64
Nulls: 135

Description:
count    314.000000
mean      44.202629
std       21.584632
min        1.277523
25%       37.412400
50%       55.677688
75%       58.479681
max       68.410686
Name: main_latitude, dtype: float64

Column: main_longitude
<class 'float'>    449
Name: main_longitude, dtype: int64
Nulls: 135

Description:
count    314.000000
mean      26.578338
std       47.946668
min     -122.402880
25%       10.096910
50%       12.434490
75%       25.068494
max      127.066037
Name: main_longitude, dtype: float64

Column: locations
<class 'str'>    449
Name: locations, dtype: int64
Nulls: 0

Description:
count                                              449
unique                                             437
top       DK, Denmark, , , , , , 55.670249, 10.3333283
freq                                                 8
Name: locations, dtype: object

Column: num_locations
<class 'float'>    449
Name: num_locations, dtype: int64
Nulls: 0

Description:
count    449.000000
mean       3.979955
std       16.174469
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max      217.000000
Name: num_locations, dtype: float64

Column: company_type
<class 'str'>      369
<class 'float'>     80
Name: company_type, dtype: int64
Nulls: 80

Description:
count         369
unique          2
top       Private
freq          359
Name: company_type, dtype: object

Column: year_founded
<class 'float'>    449
Name: year_founded, dtype: int64
Nulls: 282

Description:
count     167.000000
mean     1996.784431
std        26.753925
min      1862.000000
25%      1993.000000
50%      2003.000000
75%      2012.000000
max      2023.000000
Name: year_founded, dtype: float64

Column: revenue
<class 'float'>    449
Name: revenue, dtype: int64
Nulls: 233

Description:
count    2.160000e+02
mean     5.909740e+09
std      7.845580e+10
min      4.290600e+04
25%      1.770735e+06
50%      6.699408e+06
75%      3.610165e+07
max      1.151112e+12
Name: revenue, dtype: float64

Column: revenue_type
<class 'float'>    233
<class 'str'>      216
Name: revenue_type, dtype: int64
Nulls: 233

Description:
count          216
unique           2
top       modelled
freq           157
Name: revenue_type, dtype: object

Column: employee_count
<class 'float'>    449
Name: employee_count, dtype: int64
Nulls: 220

Description:
count       229.000000
mean       3753.545852
std       30753.271984
min           1.000000
25%          10.000000
50%          75.000000
75%         150.000000
max      378946.000000
Name: employee_count, dtype: float64

Column: employee_count_type
<class 'str'>      229
<class 'float'>    220
Name: employee_count_type, dtype: int64
Nulls: 220

Description:
count           229
unique            2
top       extracted
freq            127
Name: employee_count_type, dtype: object

Column: generated_description
<class 'str'>      414
<class 'float'>     35
Name: generated_description, dtype: int64
Nulls: 35

Description:
count                                                   414
unique                                                  411
top       ECI Media Management, legally known as ECI Med...
freq                                                      2
Name: generated_description, dtype: object

Column: generated_business_tags
<class 'str'>      421
<class 'float'>     28
Name: generated_business_tags, dtype: int64
Nulls: 28

Description:
count                             421
unique                            408
top       Telecommunications Services
freq                                5
Name: generated_business_tags, dtype: object

Column: short_description
<class 'str'>      390
<class 'float'>     59
Name: short_description, dtype: int64
Nulls: 59

Description:
count                                                   390
unique                                                  387
top       Apple green TRUCK AIR FOR WHEELS is a trucking...
freq                                                      2
Name: short_description, dtype: object

Column: long_description
<class 'str'>      284
<class 'float'>    165
Name: long_description, dtype: int64
Nulls: 165

Description:
count                                                   284
unique                                                  283
top       ECI: HIGHER MEDIA VALUE\nTechnology is transfo...
freq                                                      2
Name: long_description, dtype: object

Column: business_tags
<class 'float'>    226
<class 'str'>      223
Name: business_tags, dtype: int64
Nulls: 226

Description:
count                             223
unique                            219
top       Telecommunications Services
freq                                3
Name: business_tags, dtype: object

Column: naics_2022_primary_code
<class 'float'>    449
Name: naics_2022_primary_code, dtype: int64
Nulls: 98

Description:
count       351.000000
mean     507919.091168
std      116455.175031
min      212290.000000
25%      488160.000000
50%      523940.000000
75%      541616.500000
max      921110.000000
Name: naics_2022_primary_code, dtype: float64

Column: naics_2022_primary_label
<class 'str'>      351
<class 'float'>     98
Name: naics_2022_primary_label, dtype: int64
Nulls: 98

Description:
count                                  351
unique                                 137
top       Computer Systems Design Services
freq                                    29
Name: naics_2022_primary_label, dtype: object

Column: naics_2022_secondary_codes
<class 'float'>    449
Name: naics_2022_secondary_codes, dtype: int64
Nulls: 423

Description:
count        26.000000
mean     500833.192308
std       88398.433592
min      237130.000000
25%      494190.250000
50%      518010.000000
75%      541511.000000
max      711110.000000
Name: naics_2022_secondary_codes, dtype: float64

Column: naics_2022_secondary_labels
<class 'float'>    423
<class 'str'>       26
Name: naics_2022_secondary_labels, dtype: int64
Nulls: 423

Description:
count                                       26
unique                                      22
top       Custom Computer Programming Services
freq                                         3
Name: naics_2022_secondary_labels, dtype: object

Column: main_business_category
<class 'str'>      371
<class 'float'>     78
Name: main_business_category, dtype: int64
Nulls: 78

Description:
count                    371
unique                   127
top       Telecommunications
freq                      38
Name: main_business_category, dtype: object

Column: main_industry
<class 'str'>      371
<class 'float'>     78
Name: main_industry, dtype: int64
Nulls: 78

Description:
count                            371
unique                            72
top       Telecommunication Services
freq                              62
Name: main_industry, dtype: object

Column: main_sector
<class 'str'>      371
<class 'float'>     78
Name: main_sector, dtype: int64
Nulls: 78

Description:
count               371
unique               28
top       IT&C Services
freq                112
Name: main_sector, dtype: object

Column: sics_codified_industry
<class 'str'>      236
<class 'float'>    213
Name: sics_codified_industry, dtype: int64
Nulls: 213

Description:
count                        236
unique                        43
top       Software & IT Services
freq                          45
Name: sics_codified_industry, dtype: object

Column: sics_codified_industry_code
<class 'str'>      236
<class 'float'>    213
Name: sics_codified_industry_code, dtype: int64
Nulls: 213

Description:
count       236
unique       43
top       TC-SI
freq         45
Name: sics_codified_industry_code, dtype: object

Column: sics_codified_subsector
<class 'str'>      236
<class 'float'>    213
Name: sics_codified_subsector, dtype: int64
Nulls: 213

Description:
count            236
unique            28
top       Technology
freq              55
Name: sics_codified_subsector, dtype: object

Column: sics_codified_subsector_code
<class 'str'>      236
<class 'float'>    213
Name: sics_codified_subsector_code, dtype: int64
Nulls: 213

Description:
count      236
unique      28
top       TC.1
freq        55
Name: sics_codified_subsector_code, dtype: object

Column: sics_codified_sector
<class 'str'>      236
<class 'float'>    213
Name: sics_codified_sector, dtype: int64
Nulls: 213

Description:
count                             236
unique                             11
top       Technology & Communications
freq                               77
Name: sics_codified_sector, dtype: object

Column: sics_codified_sector_code
<class 'str'>      236
<class 'float'>    213
Name: sics_codified_sector_code, dtype: int64
Nulls: 213

Description:
count     236
unique     11
top        TC
freq       77
Name: sics_codified_sector_code, dtype: object

Column: sic_codes
<class 'str'>      351
<class 'float'>     98
Name: sic_codes, dtype: int64
Nulls: 98

Description:
count             351
unique            127
top       7373 | 7379
freq               29
Name: sic_codes, dtype: object

Column: sic_labels
<class 'str'>      351
<class 'float'>     98
Name: sic_labels, dtype: int64
Nulls: 98

Description:
count                                                   351
unique                                                  136
top       Computer Integrated Systems Design | Computer ...
freq                                                     29
Name: sic_labels, dtype: object

Column: ibc_insurance_labels
<class 'float'>    303
<class 'str'>      146
Name: ibc_insurance_labels, dtype: int64
Nulls: 303

Description:
count                                                   146
unique                                                  139
top       Management Consultants | Operations Consultant...
freq                                                      3
Name: ibc_insurance_labels, dtype: object

Column: isic_v4_codes
<class 'str'>      351
<class 'float'>     98
Name: isic_v4_codes, dtype: int64
Nulls: 98

Description:
count      351
unique     112
top       6190
freq        36
Name: isic_v4_codes, dtype: object

Column: isic_v4_labels
<class 'str'>      351
<class 'float'>     98
Name: isic_v4_labels, dtype: int64
Nulls: 98

Description:
count                                     351
unique                                    112
top       Other telecommunications activities
freq                                       36
Name: isic_v4_labels, dtype: object

Column: nace_rev2_codes
<class 'str'>      351
<class 'float'>     98
Name: nace_rev2_codes, dtype: int64
Nulls: 98

Description:
count      351
unique     114
top       61.9
freq        36
Name: nace_rev2_codes, dtype: object

Column: nace_rev2_labels
<class 'str'>      351
<class 'float'>     98
Name: nace_rev2_labels, dtype: int64
Nulls: 98

Description:
count                                     351
unique                                    114
top       Other telecommunications activities
freq                                       36
Name: nace_rev2_labels, dtype: object

Column: ibc_insurance_codes
<class 'float'>    303
<class 'str'>      146
Name: ibc_insurance_codes, dtype: int64
Nulls: 303

Description:
count                                            146
unique                                           139
top       641401 | 641403 | 641411 | 641405 | 641406
freq                                               3
Name: ibc_insurance_codes, dtype: object

Column: primary_phone
<class 'float'>    449
Name: primary_phone, dtype: int64
Nulls: 116

Description:
count    3.330000e+02
mean     3.718278e+11
std      1.495975e+12
min      4.702316e+06
25%      4.573703e+09
50%      6.563396e+09
75%      6.013370e+10
max      8.809612e+12
Name: primary_phone, dtype: float64

Column: phone_numbers
<class 'str'>      333
<class 'float'>    116
Name: phone_numbers, dtype: int64
Nulls: 116

Description:
count              333
unique             331
top       +46733777800
freq                 2
Name: phone_numbers, dtype: object

Column: primary_email
<class 'float'>    225
<class 'str'>      224
Name: primary_email, dtype: int64
Nulls: 225

Description:
count                 224
unique                223
top       value@ecimm.com
freq                    2
Name: primary_email, dtype: object

Column: emails
<class 'float'>    311
<class 'str'>      138
Name: emails, dtype: int64
Nulls: 311

Description:
count                   138
unique                  138
top       info@2apharma.com
freq                      1
Name: emails, dtype: object

Column: other_emails
<class 'float'>    389
<class 'str'>       60
Name: other_emails, dtype: int64
Nulls: 389

Description:
count                                                    60
unique                                                   60
top       netherlands.service@bnpp3stepit.com | truls.bu...
freq                                                      1
Name: other_emails, dtype: object

Column: website_url
<class 'str'>      290
<class 'float'>    159
Name: website_url, dtype: int64
Nulls: 159

Description:
count                         290
unique                        288
top       https://easymoduler.dk/
freq                            2
Name: website_url, dtype: object

Column: website_domain
<class 'str'>      290
<class 'float'>    159
Name: website_domain, dtype: int64
Nulls: 159

Description:
count                290
unique               288
top       easymoduler.dk
freq                   2
Name: website_domain, dtype: object

Column: website_tld
<class 'str'>      290
<class 'float'>    159
Name: website_tld, dtype: int64
Nulls: 159

Description:
count     290
unique     49
top       com
freq      114
Name: website_tld, dtype: object

Column: website_language_code
<class 'str'>      260
<class 'float'>    189
Name: website_language_code, dtype: int64
Nulls: 189

Description:
count     260
unique     17
top        en
freq      171
Name: website_language_code, dtype: object

Column: facebook_url
<class 'float'>    301
<class 'str'>      148
Name: facebook_url, dtype: int64
Nulls: 301

Description:
count                                       148
unique                                      148
top       https://www.facebook.com/ProactGroup/
freq                                          1
Name: facebook_url, dtype: object

Column: twitter_url
<class 'float'>    373
<class 'str'>       76
Name: twitter_url, dtype: int64
Nulls: 373

Description:
count                             76
unique                            75
top       https://twitter.com/eci_mm

We found duplicates in the input_company_name, more specifically for the company " APPLE DISTRIBUTION INTERNATIONAL LIMITED ".

Although the 2 entries have different input_row_key's the 2 records share the same attributes. Since the system returned the same matching companies and attributes for both the entries we can consider this as a duplicate.

In [39]:
perfect_matches[perfect_matches['input_company_name'] == 'APPLE DISTRIBUTION INTERNATIONAL LIMITED']

,input_row_key,input_company_name,input_main_country_code,input_main_country,input_main_region,input_main_city,input_main_postcode,input_main_street,input_main_street_number,veridion_id,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,locations,num_locations,company_type,year_founded,revenue,revenue_type,employee_count,employee_count_type,generated_description,generated_business_tags,short_description,long_description,business_tags,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,ibc_insurance_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,ibc_insurance_codes,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,technologies,created_at,last_updated_at,match_company_name,match_country_code,match_country,match_region,match_city,match_postcode,match_street,match_street_number,total_score
30,44,APPLE DISTRIBUTION INTERNATIONAL LIMITED,IE,Ireland,NaN,NaN,NaN,NaN,NaN,0086fcf1-f265-11ee-b4db-0f6fe3aa3c47,Apple green TRUCK AIR FOR WHEELS,NaN,Apple green TRUCK AIR FOR WHEELS,IE,Ireland,Leinster,Fingal,K45 FD78,Lissenhall Balbriggan Motorway,NaN,NaN,NaN,"IE, Ireland, Leinster, Fingal, K45 FD78, Lisse...",1.0,Private,NaN,NaN,NaN,NaN,NaN,Apple Green TRUCK AIR FOR WHEELS is a company ...,Transportation Services | Air Suspension Solut...,Apple green TRUCK AIR FOR WHEELS is a trucking...,NaN,NaN,484110.0,"General Freight Trucking, Local",NaN,NaN,Trucking and Logistics,Freight Transport,Transport & Warehousing,NaN,NaN,NaN,NaN,NaN,NaN,4214 | 4212,Local Trucking With Storage (general freight) ...,NaN,4923,Freight transport by road,49.41 | 49.42,Freight transport by road | Removal services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-04T09:22:25.764Z,2025-04-20T05:56:26.137Z,25.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.0,252000.000000
31,45,APPLE DISTRIBUTION INTERNATIONAL LIMITED,IE,Ireland,Munster,Cork,NaN,NaN,NaN,0086fcf1-f265-11ee-b4db-0f6fe3aa3c47,Apple green TRUCK AIR FOR WHEELS,NaN,Apple green TRUCK AIR FOR WHEELS,IE,Ireland,Leinster,Fingal,K45 FD78,Lissenhall Balbriggan Motorway,NaN,NaN,NaN,"IE, Ireland, Leinster, Fingal, K45 FD78, Lisse...",1.0,Private,NaN,NaN,NaN,NaN,NaN,Apple Green TRUCK AIR FOR WHEELS is a company ...,Transportation Services | Air Suspension Solut...,Apple green TRUCK AIR FOR WHEELS is a trucking...,NaN,NaN,484110.0,"General Freight Trucking, Local",NaN,NaN,Trucking and Logistics,Freight Transport,Transport & Warehousing,NaN,NaN,NaN,NaN,NaN,NaN,4214 | 4212,Local Trucking With Storage (general freight) ...,NaN,4923,Freight transport by road,49.41 | 49.42,Freight transport by road | Removal services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-04T09:22:25.764Z,2025-04-20T05:56:26.137Z,25.0,1.0,1.0,66.666667,0.0,0.0,0.0,0.0,258666.666667

The veridion_id should be unique in the perfect matches dataset.

However, we found duplicates in terms of the veridion id for the companies "ECI Media Management AB" company and "Nets Denmark A/S".
The inconsistency appeared due to varation in letter casing ( upper case and lower case) leading the system to treat them as separate records.

In [40]:
perfect_matches[perfect_matches['veridion_id'].duplicated(keep=False)]

,input_row_key,input_company_name,input_main_country_code,input_main_country,input_main_region,input_main_city,input_main_postcode,input_main_street,input_main_street_number,veridion_id,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,locations,num_locations,company_type,year_founded,revenue,revenue_type,employee_count,employee_count_type,generated_description,generated_business_tags,short_description,long_description,business_tags,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,ibc_insurance_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,ibc_insurance_codes,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,technologies,created_at,last_updated_at,match_company_name,match_country_code,match_country,match_region,match_city,match_postcode,match_street,match_street_number,total_score
30,44,APPLE DISTRIBUTION INTERNATIONAL LIMITED,IE,Ireland,NaN,NaN,NaN,NaN,NaN,0086fcf1-f265-11ee-b4db-0f6fe3aa3c47,Apple green TRUCK AIR FOR WHEELS,NaN,Apple green TRUCK AIR FOR WHEELS,IE,Ireland,Leinster,Fingal,K45 FD78,Lissenhall Balbriggan Motorway,NaN,NaN,NaN,"IE, Ireland, Leinster, Fingal, K45 FD78, Lisse...",1.0,Private,NaN,NaN,NaN,NaN,NaN,Apple Green TRUCK AIR FOR WHEELS is a company ...,Transportation Services | Air Suspension Solut...,Apple green TRUCK AIR FOR WHEELS is a trucking...,NaN,NaN,484110.0,"General Freight Trucking, Local",NaN,NaN,Trucking and Logistics,Freight Transport,Transport & Warehousing,NaN,NaN,NaN,NaN,NaN,NaN,4214 | 4212,Local Trucking With Storage (general freight) ...,NaN,4923,Freight transport by road,49.41 | 49.42,Freight transport by road | Removal services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-04T09:22:25.764Z,2025-04-20T05:56:26.137Z,25.000000,1.0,1.0,0.000000,0.0,0.0,0.0,0.0,252000.000000
31,45,APPLE DISTRIBUTION INTERNATIONAL LIMITED,IE,Ireland,Munster,Cork,NaN,NaN,NaN,0086fcf1-f265-11ee-b4db-0f6fe3aa3c47,Apple green TRUCK AIR FOR WHEELS,NaN,Apple green TRUCK AIR FOR WHEELS,IE,Ireland,Leinster,Fingal,K45 FD78,Lissenhall Balbriggan Motorway,NaN,NaN,NaN,"IE, Ireland, Leinster, Fingal, K45 FD78, Lisse...",1.0,Private,NaN,NaN,NaN,NaN,NaN,Apple Green TRUCK AIR FOR WHEELS is a company ...,Transportation Services | Air Suspension Solut...,Apple green TRUCK AIR FOR WHEELS is a trucking...,NaN,NaN,484110.0,"General Freight Trucking, Local",NaN,NaN,Trucking and Logistics,Freight Transport,Transport & Warehousing,NaN,NaN,NaN,NaN,NaN,NaN,4214 | 4212,Local Trucking With Storage (general freight) ...,NaN,4923,Freight transport by road,49.41 | 49.42,Freight transport by road | Removal services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-04T09:22:25.764Z,2025-04-20T05:56:26.137Z,25.000000,1.0,1.0,66.666667,0.0,0.0,0.0,0.0,258666.666667
100,139,Nets Denmark A/S,DK,Denmark,Capital Region Of Denmark,Ballerup,2750,Klausdalsbrovej,601,5d5ad6b1-02d4-11ed-863c-c902831d00ca,NETS EASY MODULES,NaN,NETS EASY MODULES | EASY MODULES,DK,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"DK, Denmark, , , , , , 55.670249, 10.3333283",1.0,Private,NaN,NaN,NaN,NaN,NaN,Easy Store is an e-commerce company that opera...,Support and Guidance for Shopware | Technical ...,NETS EASY MODULES is a software development se...,NaN,E-Commerce | Smart Watches,541511.0,Custom Computer Programming Services,NaN,NaN,Software Development Services,Software & IT Services,IT&C Services,Multiline and Specialty Retailers & Distributors,CG-MR,Consumer Goods Retail,CG.3,Consumer Goods,CG,7371,Computer Programming Services,Building Owner - Multiple Occupancy - Mixed-Us...,6201,Computer programming activities,62.01,Computer programming activities,399101 | 891801 | 891802 | 641411 | 231001,4.520092e+09,+4520092024,NaN,NaN,NaN,https://easymoduler.dk/,easymoduler.dk,dk,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-06T16:37:21.000Z,2024-07-20T11:04:04.000Z,36.363636,1.0,1.0,0.000000,0.0,0.0,0.0,0.0,365636.363636
114,155,ECI Media Management AB,SE,Sweden,Stockholm County,Stockholm,118 53,Maria Skolgata,83,2b50edd1-93e5-11eb-a746-fdabd18be9c6,ECI Media Management,ECI Media Management AB.,ECI Media Management,SE,Sweden,Stockholm County,Stockholm,118 53,Maria Skolgata,83,59.314858,18.05413,"SE, Sweden, Stockholm County, Stockholm, 118 5...",7.0,Private,2001.0,4900000.0,extracted,82.0,extracted,"ECI Media Management, legally known as ECI Med...",Target Market Benchmarking Services | Advertis...,The benchmarking of media cost and quality per...,ECI: HIGHER MEDIA VALUE\nTechnology is transfo...,Financial Compliance | Performance Audits | Fo...,541840.0,Media Representatives,NaN,NaN,Digital & Marketing Agencies,Marketing & Advertising Agencies,Advertising & Marketing,Advertising & Marketing,SV-AD,Media,SV.1,Services,SV,7313,"Radio, Television, and Publishersâ€™ Advertising...",Management Consultants | Marketing Consultants...,7310,Advertising,73.11 | 73.12,Advertising agencies | Media representation,641401 | 641405 | 731301 | 641403 | 641411,4.673378e+10,+46733777800,value@ecimm.com,NaN,NaN,https://ecimediamanagement.com/,ecimediamanagement.com,com,en,NaN,https://twitter.com/eci_mm,NaN,https://www.linkedin.com/company/eci-media-man...,NaN,NaN,NaN,NaN,analytics: matomo analytics | javascript frame...,2019-12-05T05:29:01.000Z,2025-01-12T13:00:05.375Z,93.023256,1.0,1.0,100.000000,100.0,1.0,100.0,1.0,943343.558140
115,156,ECI MEDIA MANAGEMENT AB,SE,Sweden,NaN,NaN,NaN,NaN,NaN,2b50edd1-93e5-11eb-a746-fdabd18be9c6,ECI Media Management,ECI Media Management AB.,ECI Media Management,SE,Sweden,Stockholm County,Stockholm,118 53,Maria Skolgata,83,59.314858,18.05413,"SE, Sweden, Stockholm County, Stockholm, 118 5...",7.0,Private,2001.0,4900000.0,extracted,82.0,extracted,"ECI Media Management, legally known as ECI Med...",Target Market Benchmarking Services | Advertis...,The benchmarking of media cost and quality per...,ECI: HIGHER MEDIA VALUE\nTechnology is transfo...,Financial Compliance | Performance Audits | Fo...,541840.0,Media Representatives,NaN,NaN,Digital & Marketing Agencies,Marketing & Advertising Agencies,Advertising & Marketing,Advertising & Marketing,SV-AD,Media,SV.1,Services,SV,7313,"Radio, Television, and Publishersâ€™ Advertising...",Management Consultants | Marketing Consultants...,7310,Advertising,73.11 | 73.12,Advertising agencies | Media representation,641401 | 641405 | 731301 | 641403 | 641411,4.673378e+10,+46733777800,value@ecimm.com,NaN,NaN,https://ecimediamanagement.com/,ecimediamanagement.com,com,en,NaN,https://twitter.com/eci_mm,NaN,https://www.linkedin.com/company/eci-media-man...,NaN,NaN,NaN,NaN,analytics: matomo analytics | javascript frame...,2019-12-05T05:29:01.000Z,2025-01-12T13:00:05.375Z,32.558140,1.0,1.0,0.000000,0.0,0.0,0.0,0.0,327581.395349
263,350,NETS DANMARK A/S,DK,Denmark,Capital Region Of Denmark,Ballerup,2750,Klausdalsbrovej,601,5d5ad6b1-02d4-11ed-863c-c902831d00ca,NETS EASY MODULES,NaN,NETS EASY MODULES | EASY MODULES,DK,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"DK, Denmark, , , , , , 55.670249, 10.3333283",1.0,Private,NaN,NaN,NaN,NaN,NaN,Easy Store is an e-commerce company that opera...,Support and Guidance for Shopware | Technical ...,NETS EASY MODULES is a software development se...,NaN,E-Commerce | Smart Watches,541511.0,Custom Computer Programming Services,NaN,NaN,Software Development Services,Software & IT Services,IT&C Services,Multiline and Specialty Retailers & Distributors,CG-MR,Consumer Goods Retail,CG.3,Consumer Goods,CG,7371,Computer Programming Services,Building Owner - Multiple Occupancy - Mixed-Us...,6201,Computer programming activities,62.01,Computer programming activities,399101 | 891801 | 891802 | 641411 | 231001,4.520092e+09,+4520092024,NaN,NaN,NaN,https://easymoduler.dk/,easymoduler.dk,dk,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-07-06T16:37:21.000Z,2024-07-20T11:04:04.000Z,54.545455,1.0,1.0,0.000000,0.0,0.0,0.0,0.0,547454.545455

In [41]:
perfect_matches[perfect_matches['company_name'] == 'ECI Media Management']

,input_row_key,input_company_name,input_main_country_code,input_main_country,input_main_region,input_main_city,input_main_postcode,input_main_street,input_main_street_number,veridion_id,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,locations,num_locations,company_type,year_founded,revenue,revenue_type,employee_count,employee_count_type,generated_description,generated_business_tags,short_description,long_description,business_tags,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,ibc_insurance_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,ibc_insurance_codes,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,technologies,created_at,last_updated_at,match_company_name,match_country_code,match_country,match_region,match_city,match_postcode,match_street,match_street_number,total_score
114,155,ECI Media Management AB,SE,Sweden,Stockholm County,Stockholm,118 53,Maria Skolgata,83,2b50edd1-93e5-11eb-a746-fdabd18be9c6,ECI Media Management,ECI Media Management AB.,ECI Media Management,SE,Sweden,Stockholm County,Stockholm,118 53,Maria Skolgata,83,59.314858,18.05413,"SE, Sweden, Stockholm County, Stockholm, 118 5...",7.0,Private,2001.0,4900000.0,extracted,82.0,extracted,"ECI Media Management, legally known as ECI Med...",Target Market Benchmarking Services | Advertis...,The benchmarking of media cost and quality per...,ECI: HIGHER MEDIA VALUE\nTechnology is transfo...,Financial Compliance | Performance Audits | Fo...,541840.0,Media Representatives,NaN,NaN,Digital & Marketing Agencies,Marketing & Advertising Agencies,Advertising & Marketing,Advertising & Marketing,SV-AD,Media,SV.1,Services,SV,7313,"Radio, Television, and Publishersâ€™ Advertising...",Management Consultants | Marketing Consultants...,7310,Advertising,73.11 | 73.12,Advertising agencies | Media representation,641401 | 641405 | 731301 | 641403 | 641411,4.673378e+10,+46733777800,value@ecimm.com,NaN,NaN,https://ecimediamanagement.com/,ecimediamanagement.com,com,en,NaN,https://twitter.com/eci_mm,NaN,https://www.linkedin.com/company/eci-media-man...,NaN,NaN,NaN,NaN,analytics: matomo analytics | javascript frame...,2019-12-05T05:29:01.000Z,2025-01-12T13:00:05.375Z,93.023256,1.0,1.0,100.0,100.0,1.0,100.0,1.0,943343.558140
115,156,ECI MEDIA MANAGEMENT AB,SE,Sweden,NaN,NaN,NaN,NaN,NaN,2b50edd1-93e5-11eb-a746-fdabd18be9c6,ECI Media Management,ECI Media Management AB.,ECI Media Management,SE,Sweden,Stockholm County,Stockholm,118 53,Maria Skolgata,83,59.314858,18.05413,"SE, Sweden, Stockholm County, Stockholm, 118 5...",7.0,Private,2001.0,4900000.0,extracted,82.0,extracted,"ECI Media Management, legally known as ECI Med...",Target Market Benchmarking Services | Advertis...,The benchmarking of media cost and quality per...,ECI: HIGHER MEDIA VALUE\nTechnology is transfo...,Financial Compliance | Performance Audits | Fo...,541840.0,Media Representatives,NaN,NaN,Digital & Marketing Agencies,Marketing & Advertising Agencies,Advertising & Marketing,Advertising & Marketing,SV-AD,Media,SV.1,Services,SV,7313,"Radio, Television, and Publishersâ€™ Advertising...",Management Consultants | Marketing Consultants...,7310,Advertising,73.11 | 73.12,Advertising agencies | Media representation,641401 | 641405 | 731301 | 641403 | 641411,4.673378e+10,+46733777800,value@ecimm.com,NaN,NaN,https://ecimediamanagement.com/,ecimediamanagement.com,com,en,NaN,https://twitter.com/eci_mm,NaN,https://www.linkedin.com/company/eci-media-man...,NaN,NaN,NaN,NaN,analytics: matomo analytics | javascript frame...,2019-12-05T05:29:01.000Z,2025-01-12T13:00:05.375Z,32.558140,1.0,1.0,0.0,0.0,0.0,0.0,0.0,327581.395349

As the maximum value for the number of employees was significantlly larger than the rest of the dataset we checked the attribute's consistency of the company "ISS GLOBAL A/S".
We confirmed that the company's number of employees is accurate with the online sources.

In [42]:
perfect_matches[perfect_matches['employee_count'] == 378946]

,input_row_key,input_company_name,input_main_country_code,input_main_country,input_main_region,input_main_city,input_main_postcode,input_main_street,input_main_street_number,veridion_id,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,locations,num_locations,company_type,year_founded,revenue,revenue_type,employee_count,employee_count_type,generated_description,generated_business_tags,short_description,long_description,business_tags,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,ibc_insurance_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,ibc_insurance_codes,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,technologies,created_at,last_updated_at,match_company_name,match_country_code,match_country,match_region,match_city,match_postcode,match_street,match_street_number,total_score
213,275,ISS GLOBAL A/S,DK,Denmark,Capital Region Of Denmark,Gladsaxe Municipality,2860,Buddingevej,197,c2b80b00-93e4-11eb-a33a-a3dfba582839,ISS,ISS A/S. | ISS GLOBAL A/S. | ISS Facility Serv...,ISS | Det Danske RengÃ¶rings Selskab | Integrat...,DK,Denmark,Capital Region Of Denmark,SÃ¸borg,NaN,NaN,NaN,NaN,NaN,"DK, Denmark, Capital Region of Denmark, SÃ¸borg...",87.0,Public,1924.0,1.004979e+10,extracted,378946.0,extracted,"ISS, legally known as ISS A/S., based in Glads...",Facility Services | Support Services | Workpla...,"Smart, integrated facility services can help y...",ISS A/S (International Service System) is a fa...,Facility Maintenance | Facilities Management,561720.0,Janitorial Services,561210.0,Facilities Support Services,Office & Industrial Cleaning,Cleaning services,Other Professional Services,Professional & Commercial Services,SV-PS,Consumer Services,SV.3,Services,SV,7342 | 4581 | 7349,Disinfecting and Pest Control Services (except...,Renovation - Commercial - low rise - 3 stories...,8121 | 8129,General cleaning of buildings | Other building...,81.29 | 81.22 | 81.21,Other cleaning activities | Other building and...,183003 | 181101 | 739401 | 739402 | 181102,9.021227e+11,+358205155 | +4538331211 | +912268511111 | +49...,malte.schaefer@iss.ch,info@de.issworld.com | press@group.issworld.co...,mandy@be.issworld.com | saskia.deiss@ch.isswor...,http://www.au.issworld.com/,issworld.com,com,en,https://www.facebook.com/issfacilityservicesda...,https://twitter.com/issworld,https://www.instagram.com/issaustria/,https://www.linkedin.com/company/iss-austria,NaN,NaN,https://www.youtube.com/user/ISSworldservicesTV,NaN,web servers: ibm websphere application server ...,2019-11-24T00:35:21.000Z,2025-04-17T18:31:54.386Z,35.294118,1.0,1.0,100.0,0.0,0.0,0.0,0.0,364941.176471

The industry, sector and business activity are consistent. The most popular in terms of entries is in the domain of Telecommunications.

We've seen that there are duplicates in the column android_app_url for 2 companies with a similar name but a different location.

In [44]:
duplicates_android = perfect_matches[perfect_matches.duplicated(subset='android_app_url', keep=False)]
duplicates_android = duplicates_android[duplicates_android['android_app_url'].notna()]
duplicates_android

,input_row_key,input_company_name,input_main_country_code,input_main_country,input_main_region,input_main_city,input_main_postcode,input_main_street,input_main_street_number,veridion_id,company_name,company_legal_names,company_commercial_names,main_country_code,main_country,main_region,main_city,main_postcode,main_street,main_street_number,main_latitude,main_longitude,locations,num_locations,company_type,year_founded,revenue,revenue_type,employee_count,employee_count_type,generated_description,generated_business_tags,short_description,long_description,business_tags,naics_2022_primary_code,naics_2022_primary_label,naics_2022_secondary_codes,naics_2022_secondary_labels,main_business_category,main_industry,main_sector,sics_codified_industry,sics_codified_industry_code,sics_codified_subsector,sics_codified_subsector_code,sics_codified_sector,sics_codified_sector_code,sic_codes,sic_labels,ibc_insurance_labels,isic_v4_codes,isic_v4_labels,nace_rev2_codes,nace_rev2_labels,ibc_insurance_codes,primary_phone,phone_numbers,primary_email,emails,other_emails,website_url,website_domain,website_tld,website_language_code,facebook_url,twitter_url,instagram_url,linkedin_url,ios_app_url,android_app_url,youtube_url,tiktok_url,technologies,created_at,last_updated_at,match_company_name,match_country_code,match_country,match_region,match_city,match_postcode,match_street,match_street_number,total_score
117,159,Egencia Denmark A/S,DK,Denmark,Capital Region Of Denmark,Elsinore,3000,19,19,386ddce7-93e5-11eb-b4a6-27899be4e45d,Egencia,Egencia Denmark A/S.,Egencia,DK,Denmark,Region Of Southern Denmark,Odense,5000,Kongensgade,66-68,55.398168,10.379905,"DK, Denmark, Region of Southern Denmark, Odens...",4.0,Private,NaN,NaN,NaN,NaN,NaN,"Egencia is a company based in Odense, Southern...",Travel Agency Services | Tour Operator Service...,Find lÃ¸sninger til administration af erhvervsr...,Moderne administration af erhvervsrejser til e...,NaN,561510.0,Travel Agencies,NaN,NaN,Travel Agencies,Travel Agencies,Other Consumer Services,Software & IT Services,TC-SI,Technology,TC.1,Technology & Communications,TC,4724,Travel Agencies,Software Developers (Pre-Packaged) | Software ...,7911,Travel agency activities,79.11,Travel agency activities,891801 | 891802 | 740809 | 740810 | 729801,4.543327e+09,+4543327263 | +4570708000 | +4570708120 | +457...,NaN,NaN,NaN,https://www.egencia.dk/,egencia.dk,dk,da,https://www.facebook.com/amexgbt/,NaN,NaN,https://www.linkedin.com/company/american-expr...,https://apps.apple.com/us/app/egencia/id446768364,https://play.google.com/store/apps/details?id=...,https://www.youtube.com/channel/UC6RjB6tXwztw4...,NaN,javascript frameworks: requirejs | analytics: ...,2020-04-30T13:13:04.000Z,2025-04-01T00:39:00.350Z,53.846154,1.0,1.0,66.666667,28.571429,0.0,0.0,0.0,547413.919414
118,160,EGENCIA LLC,US,United States,Florida,NaN,NaN,NaN,NaN,21683381-0e12-11ec-9290-4759484bcf45,Egencia New Zealand,Egencia New Zealand Limited,Egencia New Zealand,US,United States,Illinois,Chicago,NaN,NaN,NaN,NaN,NaN,"US, United States, Washington, Seattle, , , , ...",52.0,Private,NaN,NaN,NaN,NaN,NaN,"Egencia, legally known as Egencia New Zealand ...",Industry Solutions | Ai-powered Travel and Exp...,Discover corporate travel management solutions...,Egencia is always working to deliver traveller...,Travel Manager | Business Travellers | Corpora...,561510.0,Travel Agencies,NaN,NaN,Travel Agencies,Travel Agencies,Other Consumer Services,Professional & Commercial Services,SV-PS,Consumer Services,SV.3,Services,SV,4724,Travel Agencies,Software Developers (Pre-Packaged) | Software ...,7911,Travel agency activities,79.11,Travel agency activities,891801 | 891802 | 729801 | 740809 | 740810,1.817524e+10,+18005594857 | +18175240991,nzmanagementteam@egencia.com,NaN,NaN,https://www.egencia.co.nz/,egencia.co.nz,co.nz,en,https://www.facebook.com/EgenciaBusinessTravel/,https://twitter.com/Egencia,NaN,https://www.linkedin.com/company/egencia,https://apps.apple.com/us/app/egencia/id446768364,https://play.google.com/store/apps/details?id=...,https://www.youtube.com/channel/UC6FavVCFRkSq6...,NaN,javascript frameworks: requirejs | analytics: ...,2021-09-04T19:39:26.000Z,2024-06-03T15:34:06.000Z,20.000000,1.0,1.0,40.000000,0.000000,0.0,0.0,0.0,206000.000000

The tiktok_url column doesnt have any entries therefore it can be excluded from the dataset.

In [55]:
perfect_matches.isnull().sum().sort_values(ascending=False).head(35)

tiktok_url                      449
android_app_url                 441
ios_app_url                     441
naics_2022_secondary_codes      423
naics_2022_secondary_labels     423
youtube_url                     400
other_emails                    389
twitter_url                     373
instagram_url                   368
emails                          311
ibc_insurance_codes             303
ibc_insurance_labels            303
facebook_url                    301
year_founded                    282
linkedin_url                    257
revenue_type                    233
revenue                         233
business_tags                   226
primary_email                   225
employee_count_type             220
employee_count                  220
technologies                    216
sics_codified_industry          213
sics_codified_sector_code       213
sics_codified_subsector_code    213
sics_codified_subsector         213
sics_codified_industry_code     213
sics_codified_sector            213
input_main_street_number        192
website_language_code           189
company_legal_names             181
long_description                165
website_domain                  159
website_url                     159
website_tld                     159
dtype: int64

More than half of the attributes contain a significant number of null values. At the top of the list, we observe that social links and domain codes are often missing. However, features like revenue, primary email, and website should not contain nulls, as they are critical for accurate matching and analysis.

# Summary & Conclusions

### Entity Resolution

In order to approach the entity resolution problem we first verified the data, its content and distribution.

After carefully analyzing we established the the 2 most important columns that can differentiate the matching rows are company name and country.
Because the company name had typos and differences in punctuation, casing and spacing we decided to use the Fuzzy Matching Technique. This method provided a similarity score between 0 and 100 where the highest represents a stronger match and the lowest indicates a weaker compatibility. The same technique was applied for the city, region and street attributes.

Regarding the country and country code we didn't found any typos or puncutation differences, therefore we decided to approach the problem differently.
We looked at the perfect matches in terms of country and since this attribute can make a difference in the accuracy of the matching company we selected only the entries that had a perfect match. Therefore, we assigned 1 for records that matched the input and 0 for those who didn't. The same technique was applied for the rest of the numerical attributes.

For each of these attributes we assigned a weight based on their importance to the final match. Company name and country were assigned a higher weight being the 2 most important valuable attributes, followed by region, city, street, postalcode. Although the last mentioned attributes don't have assigned the highest weight they can help break ties between similar records.

We then selected the entries with the highest total score that takes into consideration all the input attributes.

### Data Analysis

We verified the incosistency of the data by checking the data types of each column. In addition we checked the null values and analyzed descriptive statistics to better understand the content and distribution of the dataset.

We found duplicates in the input_company_name and veridion_id. In two duplicate cases the inconsistency appeared due to varation in letter casing ( upper case and lower case) leading the system to treat them as separate records. The matching rows were identical in terms of attributes.

The industry, sector and business activity are consistent across the dataset. The most common domain in terms of entries is Telecommunications.
Similarly, the country, region and city attributes are consistent, with Denmark being the most frequently occuring location.

We identified duplicates in the android_app_url column for two companies with similar names but different locations. Additionally, the tiktok_url column contains no entries and can therefore be excluded from the dataset.

In terms of null values, important features such as revenue and email are missing in approximately 30% of the records.
This should be addressed, as these fields are crucial for the analysis.

To conclude, the dataset presents minor incosistencies that should be analyzed in order to decide wheather to exclude or correct the affected records.